{% extends 'base.html.twig' %}

{% block title %}Manager{% endblock %}

{% block body %}
    <section class="container">
    <h1>Manager</h1>
        <h3> Email : {{ manager.email }}</h3>

        <div class="grid">
        {% for pub in manager.pubs %}
            {{ include('pub/_card.html.twig') }}
        {% endfor %}
        </div>
        <a href="{{ path('app_pub_new') }}" class="badge badge-primary">Create a new pub</a>
        <a href="{{ path('app_gig_new') }}" class="badge badge-primary">Create a Gig</a>

    </section>
{% endblock %}
