{% extends 'base.html.twig' %}

{% block title %}
    {{ instrument.name }}
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Musician who play : {{ instrument.name }}</h1>
        <div class="grid">
        {% for musician in instrument.musicians %}
            {% include 'musician/_card.html.twig' with {'musician' : musician} only %}
        {% endfor %}
        </div>
    </section>
{% endblock %}