{% extends 'base.html.twig' %}

{% block title %}Instruments{% endblock %}

{% block body %}

    <section class="container">

        <h2>Instruments list</h2>

        <div class="grid">

            {% for instrument in instruments %}
            <ul>
                <li>
                    <a href="{{ path('instrument_detail', { 'id' : instrument.id }) }}" class="badge badge-primary">
                        {% if instrument.icon %}
                            <i class="{{ instrument.icon }}"></i>
                        {% endif %}
                        {{ instrument.name }}
                    </a>
                </li>
            </ul>
            {% endfor %}
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <h2> Add an instrument</h2>

            <a href="{{ path('instrument_new') }}">Add a new instrument</a>
        {% endif %}
    </section>
{% endblock %}