{% extends 'base.html.twig' %}

{% block title %}Gig{% endblock %}

{% block body %}

    <section class="container">

        <h2>Gigs list</h2>

        <div class="grid">

            {% for gig in gigs %}
                {% include 'gig/_card.html.twig' with {'gig' : gig} only %}
            {% endfor %}

        </div>

    </section>
{% endblock %}
