{% extends 'base.html.twig' %}

{% block title %}
    About Us
{% endblock %}

{% block body %}
    <section class="container">
        <h1>About Us</h1>
        <h3>Let us introduce ourselves</h3>
        <p>The purpose of Trad Music is to facilitate the organisation of gigs in the most pub possible. And for that we
            try to create a platform where musician and pub's manager could meet each other and know who is available,
            where there is a new gig when and what types of musician the gig need.<br>
            <strong>You can find all this information on this website.</strong> <br>
            With trad music we talk about the musicians and managers but trad music can also be use for the people who
            just want to be spectator of the gig. They can find all the information they need on the gigs they want but
            also on the pubs and if they want to know where a precise musician will play they can have access to all
            this information on our website. <br>
            <br>
            So we hope you can find what ever you're looking for. And if you think we can implement something news you
            can contact us on this mail address.
        </p>
        <h5>TradMusicRequest@gmail.com</h5>

    </section>
{% endblock %}