{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
    <h1>Accueil</h1>

    {% for instrument in instruments %}
        <ul>
            <li>
                {{ instrument.name }}
            </li>
        </ul>
    {% endfor %}
    </section>
{% endblock %}


