{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
       <h2>Next Gig in Town</h2> 
        <div class="grid">
            {% for gig in gigs %}
                    {% include'gig/_card.html.twig' with {'gig' : gig} only %}
            {% endfor %}
        </div>
    </section>
    
    <section class="container">
    <h2>Available musicians</h2>
    <div class="grid">

        {% for musician in musicians %}
            {% include 'musician/_card.html.twig' with {'musician' : musician} only %}
        {% endfor %}

    </div>
    </section>
{% endblock %}


