{% extends 'base.html.twig' %}

{% block title %}
    {{ musician.fullName }}
{% endblock %}


{% block body %}
    <section class="container">
    <h1>{{ musician.fullName }}</h1>
    </section>
{% endblock %}



